* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sarabun', sans-serif;
}

.body-container {
  display: flex;

  background-color: #f8f9fa;
  height: 100vh;
  margin: 0 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 20px;
  height: 800px;
  border-right: 1px solid #ccc;
}

.sidebar__logo {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  margin-top: 20px;
}

.sidebar__menu-item {
  width: 220px;
  height: 58px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 20px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar__menu-item:hover {
  background: #fff;
}

.sidebar__menu-item.active {
  background: #fff;
}

.sidebar__menu-item-icon {
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 8px;
}

.sidebar__menu-item-icon i {
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;
}

.sidebar__menu-item.active .sidebar__menu-item-icon i {
  color: #fff;
  background: #cb0c9f;
}

.main {
  margin: 20px 40px 20px 60px;
  width: 100%;
}

.main-statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 40px;
}

.main-statistics__item {
  width: 100%;
  height: 80px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.main-statistics__item-icon {
  width: 46px;
  height: 46px;
  border-radius: 8px;
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-statistics__item-icon i {
  font-size: 16px;
}

.main-statistics__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-statistics__item-info-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-statistics__item-info-title {
  font-size: 14px;
  color: #67748e;
}

.main-statistics__item-info-value {
  font-size: 20px;
  font-weight: 700;
}

.main-statistics__item-info-increase {
  font-size: 14px;
  color: #82d616;
}

.main-projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.main-graphs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.active-users__graph {
  width: 560px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
}

.active-users__graph canvas {
  width: 100% !important;
}

.sales__graph {
  width: 720px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
}

.sales__graph canvas {
  width: 100% !important;
}
