* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.left {
  width: 56%;
  height: 100vh;
  background-color: #efe4d3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 56px;
  padding-left: 300px;
}

.main-logo {
  width: 38%;
}

.breadcrumbs {
}

/* Right */
.right {
  width: 44%;
  height: 100vh;
}
