main {
  margin-top: 120px;
}

.main-google-map {
  width: 100%;
  margin-bottom: 80px;
}

.main-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.main-info-container {
  width: 1440px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 18px;
  font-weight: normal;
  text-align: center;

  height: 100vh;
}

.main-info-left {
  width: 50%;
  background: red;
}

.main-info-right {
  width: 50%;
  background: blue;
}
