/* CSS file for homepage */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sarabun', sans-serif;

  height: 200vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* ---------------------------------------------------- */
/* Header */
/* ---------------------------------------------------- */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  z-index: 999;
}

header.sticky {
  transform: translateY(-40px);
}

.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.header__top-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border-right: 1px solid #ddd;
  padding-right: 5px;
  color: #5b5b5b;
  cursor: pointer;
}

.header__top-item i {
  font-size: 13px;
}

.header__top-item span a {
  font-size: 14px;
  color: #5b5b5b;
  text-decoration: none;
  font-weight: bold;
}

.header__top-item span a:hover {
  color: #fee246;
}

.header__top-item:last-child {
  font-size: 13px;
  border-right: none;
}

.header__top-item:last-child span a {
  font-size: 16px;
  color: #000;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  height: 100%;
}

.header__bottom-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__bottom-logo a {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__bottom-logo img {
  width: 218px;
}

.header__bottom-menu {
  display: flex;
  align-items: center;
  gap: 11px;
  height: 100%;
  list-style: none;
}

.header__bottom-menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.header__bottom-menu-item:before {
  content: '';
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 40%;
  border-radius: 10px;
  background-color: #fee246;
  transition: all 0.4 ease;
  opacity: 0;
}

.header__bottom-menu-item:hover:before {
  opacity: 1;
}

.header__bottom-menu-item:hover a {
  color: #fff;
}

.header__bottom-menu-item a {
  padding: 5px 10px;
  position: relative;
  z-index: 10;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.header__bottom-search-cart {
  display: flex;
  align-items: center;
  gap: 18px;
  height: 100%;
}

.header__bottom-search-box {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  height: 100%;
  max-width: 260px;
  width: 100%;
  margin-top: 10px;
  margin-left: -2px;
}

.header__bottom-search-box input {
  padding: 0 15px;
  border: none;
  height: 40px;
  background-color: #f3f3f3;
  border-radius: 40px;
  font-size: 13px;
  color: #222222;

  padding-right: 74px;
}

.header__bottom-search-box input::placeholder {
  color: #000;
}

.header__bottom-search-box button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  color: #000;
  font-size: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}

.header__bottom-search-box button:hover {
  color: #fee246;
}

.header__bottom-cart {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__bottom-cart-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.4s ease;
  cursor: pointer;
  text-decoration: none;
}

.header__bottom-cart-quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #fed700;
  color: #000;
}

/* ---------------------------------------------------- */
/* Main */
/* ---------------------------------------------------- */

/* Index page */
.main-slider {
  position: relative;
  width: 100%;
  margin-top: 120px;
  height: 690px;
  overflow: hidden;
}

.main-slider-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1;
  color: #fff;
}

.main-slider-prev-btn {
  top: 350px;
  left: 25px;
  transform: translateY(-50%);
}

.main-slider-next-btn {
  top: 350px;
  right: 25px;
  transform: translateY(-50%);
}

.main-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease;
}

.main-slider__item.active {
  opacity: 1;
}

.main-slider__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slider__dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.main-slider__dot i {
  font-size: 10px;
  color: #ccc;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.4s ease;
}

.main-slider__dot.active i {
  color: #fed700;
  opacity: 1;
}

.main-hero {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.main-hero__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 480px;
}

.main-hero__item i {
  font-size: 50px;
  margin-top: 6px;
}

.main-hero__item-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  color: rgb(255, 195, 0);
  text-transform: uppercase;
}

.main-hero__item-subtitle {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.main-hero__item-desc {
  margin-top: 6px;
  font-size: 14px;
  color: #000;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.main-container {
  width: 1440px;
  padding: 0 15px;
}

.main-section__title {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}

.main-section__title h1 {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: #f4f4f4;
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: 0.08em;
}

.main-section__title a {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-section__grid-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}

.main-section__grid-product {
  width: 260px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
}

.main-section__grid-product:hover {
  border: 1px solid #ccc;
}

.main-section__grid-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-section__grid-product-info {
  padding: 10px;
}

.main-section__grid-product-info-title {
  font-size: 17px;
  font-weight: 700;
  color: #5b5b5b;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-section__grid-product-info-ratings i {
  font-size: 12px;
  color: #fed700;
  margin-right: 2px;
}

.main-section__grid-product-info-price {
  font-size: 16px;
  font-weight: 700;
  color: #5b5b5b;
  margin-bottom: 20px;
  margin-top: 4px;
}

.main-section__grid-product-new-tag {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 30px;
  background-color: #fed700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 14px;
}

/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */
