/* Responsive for all pages (Header, Subscribe, Footer) */

/* Laptop L: 1441px and above */
@media only screen and (min-width: 1441px) {
}

/* All */

@media only screen and (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 100vw;
  }

  .header__bottom-menu {
    display: none;
  }

  .header__bottom-menu-btn {
    display: flex;
  }

  footer {
    overflow: hidden;
  }
}

/* Laptop: 1024px to 1440px */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .main-subscribe {
    gap: 60px;
    text-align: center;
  }

  .main-subscribe-input {
    width: 400px;
  }

  .footer-container {
    margin-left: 30px;
  }

  .footer-links-top {
    gap: 40px;
  }

  .footer-fanpage {
    margin-left: 20px;
  }
}
/* Tablet: 768px to 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-subscribe {
    gap: 40px;
    text-align: center;
  }

  .main-subscribe-input {
    width: 400px;
  }

  .footer-container {
    margin: 0;
  }

  .footer-links {
    display: none;
  }

  .footer-info {
    width: 50%;
  }

  .footer-fanpage {
    width: 40%;
  }

  .footer-container {
    margin: 0;
  }

  .footer-links {
    display: none;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-info {
    width: 100%;
  }

  .footer-fanpage {
    width: 100%;
  }
}

/* Phone: 767px and below */
@media screen and (max-width: 767px) {
  .header__top {
    display: none;
  }

  .header__bottom-search-btn {
    display: flex;
  }

  .main-subscribe {
    overflow: hidden;
  }

  .main-subscribe-input {
    width: 300px;
  }

  .main-subscribe-text {
    display: none;
  }

  .main-subscribe-tag {
    display: none;
  }

  .header__bottom-search-box {
    display: none;
  }

  .header__bottom-logo img {
    width: 160px;
  }

  footer {
    overflow: hidden;
  }

  .footer-container {
    margin: 0;
  }

  .footer-links {
    display: none;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-info {
    width: 100%;
  }

  .footer-fanpage {
    width: 100%;
  }

  .footer-fanpage > iframe {
    width: 100%;
  }
}
